<!-- Standardised header file -->

<nav class="navbar navbar-deafault" role="navigation">
  <div class="container">
    <div class="navbar-header">
      Monoitoring Application

      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
