<!-- Standardised header file -->

<nav class="navbar navbar-deafault" role="navigation">
  <div class="container">
    <div class="navbar-header">
      Monoitoring Application

      <ul class="nav navbar-nav">
        <li class="ghost-li"><a href="/home">Home</a></li>
        <li class="ghost-li"><a>Logged in as:</a></li>
        <li class="ghost-li"><a href="/home"><%= username %></a></li>
        <li class="ghost-li"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
