<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monitoring Data Viewer</title>
    <link rel="stylesheet"  type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <form id="loginForm" action="/" method="post">
        Username:<br>
        <input type="text" class="ghost-input" name="username" value="username" required>
        Password:<br>
        <input type="password" class="ghost-input" name="pwd" required>
        <input type="submit" class="ghost-button" value="Submit" />
        <% if(error !== null){%>
          <p><%= error %></p>
        <% } %>
      </form>
    </div>
  </body>
</html>
